/*Fuente principal merienda */

@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');

/***************** *****Contenedor de la seccion tools***** *********************/


/*Fondo de la seccion tools*/

.container-tools {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/img/fondotecnologia.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background: cyan; */
}


/*TITULO DE LA SECCION*/

.title-tech {
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Merienda', cursive;
}


/*SubContenedor de las tecnologia*/

.containertech {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7em;
    margin-top: 5em;
}


/*Primer contenedor de las tecnologias*/

.container-tech-one {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-tech-two {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1em;
}

.container-tech-three {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1em;
}

.container-tech-four {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1em;
}


/*IMAGEN*/

.container-circle {
    height: 5.5em;
    width: 5.5em;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.size {
    width: 70%;
    height: auto;
}

.size path:hover {
    fill: rgb(236, 181, 41);
}

.container-circle:hover {
    background: rgba(124, 121, 121, 0.3);
    /* border: 1px solid rgb(0, 0, 0); */
}


/* .container-circle path:hover {
    fill: rgb(236, 181, 41);
} */


/*Responsive*/


/*PHONE*/

@media only screen and (max-width: 768px) {
    .container-tools {
        background: rgb(236, 236, 238);
        height: auto;
    }
    .containertech {
        width: 100%;
        margin-left: 0;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .title-tech {
        width: 100%;
        margin-top: 1em;
    }
    .container-tech-one,
    .container-tech-two,
    .container-tech-three,
    .container-tech-four {
        width: 100%;
    }
    .container-circle {
        height: 4.5em;
        width: 4.5em;
    }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
    .container-tools {
        margin-top: 3em;
        margin-bottom: 3em;
        width: 100vw;
        height: auto;
    }
}