<footer id="footer">


    <!-- Footer social -->
    <section class="ft-social">
        <h3 class="contac">Contactame</h3>
        <ul class="ft-social-list">


            <li><a href="https://www.facebook.com/cruzsirys.patrys?ref=bookmarks"><i class="fab fa-facebookc hover"></i></a></li>
            <li><a href="https://twitter.com/cruzsiirys"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/ckeilibeth/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://github.com/Crusiris"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/crusiris-nuñez-66ab0215a/"><i class="fab fa-linkedin"></i></a></li>

        </ul>
    </section>

    <!-- Footer legal -->
    <section class="ft-legal">
        <ul class="ft-legal-list">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li>&copy; 2020 Copyright Crusiris Nuñez.</li>
        </ul>
    </section>
</footer>