<!-- <footer class="footerr">
    <div class="footer-container">
        <h4> © Copyright 2019 Crusiris Nuñez </h4>
    </div>
</footer> -->
<div class="container"></div>
<footer>


    <!-- Footer social -->
    <section class="ft-social">
        <h3 class="contac">Contactame</h3>
        <ul class="ft-social-list">


            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>

        </ul>
    </section>

    <!-- Footer legal -->
    <section class="ft-legal">
        <ul class="ft-legal-list">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li>&copy; 2020 Copyright Crusiris Nuñez.</li>
        </ul>
    </section>
</footer>