/******** ******* ******* HEADER ********* ********** *******/

.header {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/img/fondomostaza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* .header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(38, 38, 38);
    opacity: 0.3;
} */

.subHeader {
    width: 80%;
    height: 9%;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-weight: bold;
    background: transparent;
}


/* background: rgb(33, 31, 31);
background: linear-gradient(180deg, rgba(33, 31, 31, 1) 0%, rgba(245, 241, 241, 0.7931547619047619) 100%); */

.nav {
    width: 98%;
    display: flex;
    justify-content: space-between;
}