<header id="home" id="header" class="header">


    <!-- Contenedor de la segunda parte del header -->
    <div class="container-presentation">
        <!--Primer contenedor  -->

        <div class="greet">
            <h1>Hola!</h1>
            <h1> soy Crusiris Nuñez </h1>
            <h1>Desarrollador FrontEnd</h1>
        </div>
        <!--Segundo contenedor  -->
        <div class="profession">
            <p>Desarrollador de interfaz de usuario</p>
        </div>

        <!--Tercer contenedor  -->
        <div class="cv">
            <button class="btncv">Ver Curriculum</button>
        </div>
    </div>
    <!--Contenedor de la segunda parte [LA PARTE DE LOS ICONOS DE CONTACTO] -->
    <div class="cotainer-icon-contact">
        <div class="icon-contact">
            <img src="../../../assets/img/correo.png" alt="gmail">
            <img src="../../../assets/img/linkendin.png" alt="linkendin">
            <img src="../../../assets/img/github.png" alt="github">
        </div>
    </div>
</header>