/*Fuente principal merienda */

@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');

/* *********** **********Contenedor general *********** ***********/

.container-project {
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-family: 'Merienda', cursive;
    text-align: center;
}


/* *** *** Sub contenedor de la tarjeta *** *** */

.cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* *** *** Contenedor de la tarjeta *** *** */

.cardsItem {
    width: 30%;
    height: auto;
    margin-bottom: 1.5em;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
}


/* *** *** Contenedor de la imagen *** *** */

.cardImage img {
    width: 100%;
}

.cardTitle {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.cartText {
    text-align: justify;
}

.cardContent {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
}

.containerbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


/********* **************** *********Botones******** ************* **************/

.btn {
    background-color: white;
    border: 1px solid rgb(105, 105, 105);
    padding: 14px 40px;
    color: rgb(105, 105, 105);
    cursor: pointer;
    width: 75%;
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: rgb(105, 105, 105);
    text-align: center;
}

.btnCode a {
    text-decoration: none;
    color: rgb(105, 105, 105);
}

.btn:hover {
    color: #ffffff;
    background-color: rgb(236, 181, 41);
}


/* *** *** Contenedor del texto *** *** */


/**** ******* *RESPONSIVE ***** ******/

@media only screen and (max-width: 600px) {
    .container-project {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        /* background: rgba(236, 181, 41, 0.8); */
    }
    .containertech img {
        margin-right: 0.5em;
    }
    .subcontainer-project {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .subcontainer-project img {
        margin-bottom: 0.5em;
    }
    .title {
        margin-top: 1em;
    }
    .container-tech-one,
    .container-tech-two,
    .container-tech-three,
    .container-tech-four {
        width: 100%;
    }
    .cardsItem {
        width: 89%;
    }
}


/********************************************/