/*Fuente principal merienda */

@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');

/* *********** **********Contenedor general *********** ***********/

.container-project {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4em 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 1em;
}


/** *** ***** Titulo ***** *** **/

.title {
    font-family: 'Merienda', cursive;
    margin-bottom: 1em;
    justify-self: center;
    align-self: center;
}


/** *** ***** Sub contenedor ***** *** **/

.subcontainer-project {
    width: 75%;
    height: 90%;
    font-size: 50px;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-items: stretch;
    align-items: stretch;
}


/** *** ***** Primer proyecto ***** *** **/

.project-one {
    grid-column: 1/2;
    grid-row: 1/3;
}


/** *** ***** Segundo proyecto ***** *** **/

.project-two {
    grid-column: 2/4;
    grid-row: 1/3;
}


/** *** ***** Tercer proyecto ***** *** **/

.project-three {
    grid-column: 4/5;
    grid-row: 1/4;
}


/** *** ***** Cuarto proyecto ***** *** **/

.project-four {
    grid-column: 1/3;
    grid-row: 3/5;
}


/** *** ***** QUinto proyecto ***** *** **/

.project-five {
    grid-column: 3/4;
    grid-row: 3/5;
}


/** *** ***** Sexto proyecto ***** *** **/

.project-six {
    grid-column: 4/5;
    grid-row: 4/5;
}


/*Responsive*/


/*PHONE*/

@media only screen and (max-width: 768px) {
    .container-project {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        background: rgba(236, 181, 41, 0.8);
    }
    .subcontainer-project {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .subcontainer-project img {
        margin-bottom: 0.5em;
    }
    .title {
        margin-top: 1em;
    }
}