<h2 class="title">Proyectos</h2>
<section id="projects" class="container-project">

    <div class="cards">

        <!------------------------- cards ----------------------->
        <div class="cardsItem">
            <div class="card">
                <div class="cardImage"><img src="../../../assets/img/proyecto2.png" alt=""></div>
                <div class="cardContent">
                    <div class="cardTitle">
                        <h3>Adm-Compras</h3>
                    </div>
                    <p class="cardText">Adm-Compras: Proyecto web sencillo, que se conecta a un API REST creada con JSON-SERVER, traves del protocolo HTTP. ademas el manejo de los estados fue a traves de REDUX, mientras que los estilos se crearon utilizando los styles components de MATERIAL UI. </p>
                </div>
                <br>
                <div class="containerbtn">
                    <a class="btn btnDemo" href="https://sad-austin-ba9b59.netlify.app/" target="_blank">Demo</a>
                    <a class="btn btnCode" href="https://github.com/Crusiris/Crud--Redux" target="_blank">Code</a>
                </div>

            </div>
        </div>
        <!------------------------- cards ----------------------->
        <div class="cardsItem">
            <div class="card">
                <div class="cardImage"><img src="../../../assets/img/proyecto1.png" alt=""></div>
                <div class="cardContent">
                    <div class="cardTitle">
                        <h3>Rick and Morty</h3>
                    </div>
                    <p class="cardText">Aplicación web desarrollada en JavaScript, HTML y CSS, Que obtiene data del API de Rick And Morty y la filtra según quiera el usuario. </p>
                </div>
                <div class="containerbtn">
                    <a class="btn btnDemo" href="https://crusiris.github.io/-Rick-and-Morty/src/index.html" target="_blank">Demo</a>
                    <a class="btn btnCode" href="https://github.com/Crusiris/SCL011-data-lovers.git" target="_blank">Code</a>
                </div>
            </div>
        </div>

        <!------------------------- cards ----------------------->
        <div class="cardsItem">
            <div class="card">

                <div class="cardImage"><img src="../../../assets/img/proyecto4.png" alt=""></div>

                <div class="cardContent">
                    <div class="cardTitle">
                        <h3>C-Task</h3>
                    </div>
                    <p class="cardText">C-Task: Proyecto web que permite que un usuario se Registra e inicie sesion, ademas de manejar sus proyectos y organizar tareas de dichos proyectos, El FrontEnd de esta aplicación fue creado con React, Reducer, Hooks, State, y el BackEnd fue desarrollado con Node js, Mongodb y Express.</p>

                </div>
                <br>
                <div class="containerbtn">
                    <a class="btn btnDemo" href="https://hopeful-heisenberg-8f21fe.netlify.app/" target="_blank">Demo</a>
                    <a class="btn btnCode" href="https://github.com/Crusiris/MERNTaskCliente" target="_blank">Code</a>
                </div>
            </div>
        </div>
         <!------------------------- cards ----------------------->
         <div class="cardsItem">
            <div class="card">

                <div class="cardImage"><img src="../../../assets/img/pokemon.jpg" alt=""></div>

                <div class="cardContent">
                    <div class="cardTitle">
                        <h3>PO-KE-MON</h3>
                    </div>
                    <p class="cardText">Aplicación web con desing responsive, desarrollada bajo el ecosistema de Angular, y ademas se alimenta del API de pokemon y una interfaz bastante interesante. Ofrece información sobre los tipos de pokemones que existen y sus características.</p>

                </div>
                <br>
                <div class="containerbtn">
                    <a class="btn btnDemo" href="https://apppokemon-b8e38.web.app/pokemones" target="_blank">Demo</a>
                    <a class="btn btnCode" href="https://github.com/Crusiris/appPokemon" target="_blank">Code</a>
                </div>
            </div>
        </div>
    </div>

</section>