<h2 class="title">Proyectos</h2>
<section id="projects" class="container-project">

    <div class="cards">

        <!------------------------- cards ----------------------->
        <div class="cardsItem">
            <div class="card">
                <div class="cardImage"><img src="../../../assets/img/proyecto2.png" alt=""></div>
                <div class="cardContent">
                    <div class="cardTitle">
                        <h3>WaiQueen</h3>
                    </div>
                    <p class="cardText">WaiQueen: Aplicación web design responsive enfocada en tablets, que ofrece la posibilidad de que un mesero tome pedidos de los clientes en un restaurante de forma rápida sencilla y eficaz. </p>
                </div>
                <div class="containerbtn">
                    <a class="btn btnDemo" href="https://burguer-queen-7d0ee.firebaseapp.com" target="_blank">Demo</a>
                    <a class="btn btnCode" href="https://github.com/Crusiris/SCL011-Burger-Queen.git" target="_blank">Code</a>
                </div>

            </div>
        </div>
        <!------------------------- cards ----------------------->
        <div class="cardsItem">
            <div class="card">
                <div class="cardImage"><img src="../../../assets/img/proyecto1.png" alt=""></div>
                <div class="cardContent">
                    <div class="cardTitle">
                        <h3>Rick and Morty</h3>
                    </div>
                    <p class="cardText">Aplicación web desarrollada en JavaScript, HTML y CSS, Que obtiene data del API de Rick And Morty y la filtra según quiera el usuario. </p>

                </div>
                <div class="containerbtn">
                    <a class="btn btnDemo" href="https://crusiris.github.io/SCL011-data-lovers/src/index.html" target="_blank">Demo</a>
                    <a class="btn btnCode" href="https://github.com/Crusiris/SCL011-data-lovers.git" target="_blank">Code</a>
                </div>
            </div>
        </div>
        <!------------------------- cards ----------------------->
        <!-- <div class="cardsItem">
            <div class="card">
                <div class="cardImage"><img src="../../../assets/img/proyecto3.png" alt=""></div>
                <div class="cardContent">
                    <div class="cardTitle">
                        <h3>SpotiApp</h3>
                    </div>
                    <p class="cardText">Clon de spotify: Aplicacion web que se alimenta de la API de spotify, y utiliza la tecnologia de angular para desarrollar la interfaz.</p>

                </div>
                <div class="containerbtn">
                    <a class="btn btnDemo" href="https://spotiapp-33566.firebaseapp.com" target="_blank">Demo</a>
                    <a class="btn btnCode" href="https://github.com/Crusiris/SpotiApp.git" target="_blank">Code</a>
                </div>
            </div>
        </div> -->

        <!------------------------- cards ----------------------->
        <div class="cardsItem">
            <div class="card">

                <div class="cardImage"><img src="../../../assets/img/proyecto4.png" alt=""></div>

                <div class="cardContent">
                    <div class="cardTitle">
                        <h3>Spa Heroes</h3>
                    </div>
                    <p class="cardText">Spa-Heroes: Single Page Application con design responsive, ofrece información sobre distintos heroes de MARVEL Y DC</p>

                </div>
                <div class="containerbtn">
                    <a class="btn btnDemo" href="https://spa-heroes.herokuapp.com" target="_blank">Demo</a>
                    <a class="btn btnCode" href="https://github.com/Crusiris/Spa-Heroes.git" target="_blank">Code</a>
                </div>
            </div>
        </div>
    </div>

</section>