<section class="container-project">

    <h1 class="title">Proyectos</h1>
    <div class="subcontainer-project">

        <img class="project-one" src="../../../assets/img/proyecto1.png" alt="">


        <img class="project-two" src="../../../assets/img/proyecto2.png" alt="">


        <img class="project-three" src="../../../assets/img/proyecto3.png" alt="">


        <img class="project-four" src="../../../assets/img/proyecto4.png" alt="">


        <img class="project-five" src="../../../assets/img/proyecto5.png" alt="">


        <img class="project-six" src="../../../assets/img/proyecto6.png" alt="">

    </div>
</section>