<header class="header">
    <div class="navbar">
        <div class="navbar__wrapper">
            <nav class="navbar__menu">
                <a class="navbar__brand">
                    <img src="../../../../assets/img/C.png" alt="" />
                </a>
                <div (click)="showmenu()" id="nav-icon3">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul class="navbar__nav">
                    <li (click)="handleScroll('home')" class="navbar__link after-transform">
                        <a>Inicio</a>
                    </li>
                    <li (click)="handleScroll('aboutme')" class="navbar__link after-transform">
                        <a>Sobre mi</a>
                    </li>
                    <li (click)="handleScroll('tools')" class="navbar__link after-transform">
                        <a>Tecnologias</a>
                    </li>
                    <li (click)="handleScroll('projects')" class="navbar__link after-transform">
                        <a>Proyectos</a>
                    </li>
                    <li class="navbar__link after-transform" (click)="handleScroll('footer')">
                        <a>Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="navbar-responsive" class="navbar-responsive">
        <ul class="navbar-responsive__nav">
            <li (click)="handleScroll('home')" class="navbar-responsive__link after-transform">
                <a>Inicio</a>
            </li>
            <li (click)="handleScroll('aboutme')" class="navbar-responsive__link after-transform">
                <a>Sobre mi</a>
            </li>
            <li (click)="handleScroll('tools')" class="navbar-responsive__link after-transform">
                <a>Tecnologias</a>
            </li>
            <li (click)="handleScroll('projects')" class="navbar-responsive__link after-transform">
                <a>Proyectos</a>
            </li>
            <li (click)="handleScroll('footer')" class="navbar-responsive__link after-transform">
                <a>Contacto</a
            ></li>
        </ul>
    </div>

</header>


<app-home id="home"></app-home>
<app-aboutme id="aboutme"></app-aboutme>
<app-wordtools id="tools"></app-wordtools>
<app-projects id="projects"></app-projects>
<app-footer id="footer"></app-footer>