/*@import url("../../../../assets/fonts/Serenity\ Script.otf");*/


/************* ****** **** LOGO **** ****** *****************/

.brand {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Serenity';
    font-size: 2em;
}

.brand a {
    height: 70%;
    color: rgb(3, 166, 136);
    text-decoration: none;
    text-align: center;
}


/******* *********** **** CONTENEDOR DEL NAV BAR *** ****************/

.container-nav {
    width: 40%;
    display: flex;
    flex-direction: row;
}

.subContainer-navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.subContainer-navbar li {
    width: 20%;
    height: 50%;
    padding: 0.8em;
    text-align: center;
}

.subContainer-navbar li:hover {
    background: rgba(3, 166, 136, 0.3);
}